<?xml version='1.0' encoding='utf-8'?>
<widget id="com.matchPictures.game" 
    version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0"
    android-versionCode="2100000000"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Match Pictures</name>
    <description>
        Match Pictures Game
    </description>
    <author email="support@phonegap.com" href="http://biol.me/saeed/">
        Saeed Shabani
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icon/android/xhdpi/icon.png" platform="android" width="96" height="96" density="xhdpi" />
</widget>
